.footerMain {
  background-color: black;
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  z-index: 999999;
}

p {
  color: white;
}

#root {
  position: bottom relative;
  /* min-height: 100vh; */
}
