body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

/* @media screen and (max-width: 855px) {
  .mapAndLegend {
    display: flex;
    flex-flow: wrap column;
  }
} */

.hackProgress {
    margin-top: 15%;
}

.hiddenGeometry {
    display: none;
}
